<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Check Out</title>
</head>

<body>
    <h2>This is a checkout page</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group" id="item_list"></ul>
            </div>
        </div>
        <div class="row">
            <div id="total_price" class="col-md-4"></div>
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="items" name="items">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName4">Name</label>
                            <input type="name" id="name" name="name" class="form-control" id="inputEmail4"
                                placeholder="Zack Snyder">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" id="email" name="email" class="form-control" id="inputPassword4"
                                placeholder="user@email.com">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
                    </div>
                    <!-- <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div> -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="Gotham City">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="city">Amount to be paid</label>
                            <input type="text" class="form-control" id="final_price" name="total_price" readonly="">
                        </div>
                        <!-- <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div> -->
                    </div>
                    <!-- <div class="form-group">
                        <div class="form-check"> 
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script type="text/javascript">
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    let total_price = 0;
    for (const item in cart) {
        let name = cart[item][1];
        let quantity = cart[item][0];
        let price = cart[item][2];
        total_price += cart[item][2];
        itemString = `<li class="list-group-item"><span>${name}</span><span> Qty: ${quantity} </span><span>Price: ${price}</span></li>`;
        totalPriceString = `<li class="list-group-item d-flex justify-content-between align-items-center"><b>Total: ${total_price}</b></li>`;
        $('#item_list').append(itemString);
    }
    $('#final_price').val(total_price);
    $('#total_price').append(totalPriceString);
    console.log(total_price);
    $("#items").val(JSON.stringify(cart));
</script>
<!-- <li class="list-group-item"><span>${name}</span><span>${quantity}</span><span>${price}</span></li> -->

</html>